:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.marker {
  font-family: 'Permanent Marker', cursive;
  font-weight: 400;
}

.label {
  position: absolute;
  transform: rotate(-5deg);
  font-size: 1.2rem;
  color: #8b0000;
  bottom: calc(100% + 5px);
  left: calc(var(--base-width) + 20px);
}

.label.deficit {
  left: calc(var(--base-width) + 20px);
}

.label.future-obligations {
  left: calc(var(--outlays-width) + 20px);
}

body {
  background-color: #f0f0f0;
  padding: 10px;
  margin: 0;
  overflow-x: hidden;
}

#root {
  max-width: 100vw;
  margin: 0;
  padding: 0;
  text-align: center;
}

.tree-view {
  width: 100%;
  height: 1024px;
  margin: 0;
  padding: 0;
}

.tree-view h2 {
  margin-top: 0;
  color: #333;
  text-align: center;
}

.tree-view svg {
  width: 100%;
  height: 100%;
  background: white;
}

.budget-stack {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  gap: 1px;
}

.budget-stack .budget-item {
  width: 100%;
  margin-bottom: 8px;
}

.budget-stack .title {
  font-size: 0.8rem;
  color: #333;
  text-align: left;
  margin-bottom: 2px;
  font-weight: 500;
}

.budget-stack > .budget-item > div:not(.title) {
  background-color: #000;
  color: white;
  transition: width 0.3s ease;
  box-sizing: border-box;
  position: relative;
  height: 40px;
  font-size: 1rem;
}

@media (max-width: 600px) {
  .budget-stack > .budget-item > div:not(.title) {
    font-size: 0.8rem;
  }
  
  .budget-stack .diff-content,
  .budget-stack .remaining-content {
    font-size: 0.75rem;
  }
}

.budget-stack .content-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.budget-stack .base-content {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: var(--base-width);
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.budget-stack .diff-content {
  position: absolute;
  left: var(--base-width);
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  padding: 0 10px;
  color: white;
  width: calc(var(--outlays-width) - var(--base-width));
}

.budget-stack .remaining-content {
  position: absolute;
  left: var(--outlays-width);
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  padding: 0 10px;
  color: black;
  width: calc(100% - var(--outlays-width));
}

.budget-stack .tax-revenue {
  width: var(--width-percent);
  padding: 0 10px;
  display: flex;
  align-items: center;
}

.budget-stack .outlays {
  width: var(--width-percent);
  background: linear-gradient(to right, #000 var(--base-width), #8b0000 var(--base-width));
}

.budget-stack .over-budget {
  width: 100%;
  background: linear-gradient(
    to right,
    #000 var(--base-width),
    #8b0000 var(--base-width) var(--outlays-width),
    #d3d3d3 var(--outlays-width)
  );
}